@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}
h2, h3 {
    margin:0;
}
.hamburger-toggle {
    display:none;
}
.mobile-navbar-link {
    display:none;
}
.main-page-container {
    width:100%;
    height:100vh;
    background-size: cover;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
}
.main-page-cover {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.noscroll {
    overflow: hidden;
    height: 100vh;
}
nav {
    padding: 24px;
    font-family: Roboto;
    text-align: center;
}
#navbar {
    background: transparent;
}
.navbar-link {
    transition: 0.4s;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    padding:0 40px;
}
.navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 40px;
}
.logo-img {
    width: 700px;
    position: absolute;
    bottom:0;
    top:0;
    left:calc(50% - 350px);
    margin:auto;
}
.all-pages {
    width: 100%;
    background-color: #E6F6FC;
}
.second-page {
    display: flex;
    justify-content: space-around;
    padding-top: calc(50vh - 275px);
    height: calc(100vh - calc(50vh - 275px));
}
.second-page-box {
    width:350px;
    height:500px;
    background-color: #C5F0FF;
    border-radius: 3px;
    transition-duration: 0.1s;
    cursor: default;
}
.box-header {
    width:100%;
    height: 35%;
    background-color: #69BDD1;
    text-align: center;
    padding-top: 20px;
}
.box-icon {
    font-size: 100px !important;
}
.box-content {
    height:calc(65% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    word-wrap: break-word;
    font-size: 20px;
    text-align: center;
}
.second-page-box:hover {
    -webkit-box-shadow: 0px 14px 92px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 92px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 92px -18px rgba(0,0,0,0.75);
}
.third-page {
    height: 100vh;
    width: 100%;
    background-color: #69BDD1;
    -webkit-box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.75);
}
.row-container {
    height: calc(50vh - calc(25vh - 200px));
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top:calc(25vh - 200px);
}
.row-box {
    width:260px;
    height: 360px;
    text-align: center;
    padding:20px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.row-box:hover {
    -webkit-box-shadow: 0px 14px 92px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 92px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 92px -18px rgba(0,0,0,0.75);
}
.terapi-img {
    width:100%;
    border-radius: 50%;
}
.row-box-title {
    line-height: 100px;
    font-size: 22px;
}
.fourth-page {
    display:flex;
}
.contact-info-text {

}
.left-side {
    width:50%;
    height: 90vh;
    padding-top: 10vh;
}
.right-side {
    width:50%;
    height: 70vh;
    text-align: center;
    padding-top: 30vh;
}
.fourth-page-title {
    font-size: 50px;
}
.contact-info-text {
    font-size:25px;
    margin-top: 20px;
}
#gmap_canvas {
    margin-left: 10%;
    width:90%;
    height:90%;
    border:none;
}
.mapouter {
    height:90%;
}
.gmap_canvas {
    height: 100%;
}
.mobile-contact-info-text {
    display:none;
}

@media screen and (max-width: 700px) {
    nav {
        display:none;
    }
    .logo-img {
        width:250px;
        left:calc(50% - 125px);
    }
    .hamburger-toggle {
        width:50px;
        height:50px;
        display:block;
        background-image: url('../img/hamburgr.png');
        background-size: cover;
        background-position: center;
    }
    .hamburger-menu {
        display:none;
        width:100%;
        height:100vh;
        background-color: #C5F0FF;

    }
    .active-menu {
        display:block;
    }
    .mobile-navbar-header {
        width: 100%;
        height:50px;
        background-color: #69BDD1;
    }
    .close-hamburger {
        width:50px;
        height:50px;
        background-image: url('../img/close.png');
        background-size: cover;
        background-position: center;
    }
    .mobile-navbar-link {
        width: 100%;
        height:10vh;
        line-height: 10vh;
        font-size: 23px;
        border-bottom: solid 2px #69BDD1;
        display:block;
    }
    .inactive {
        display:none;
    }
    .second-page {
        display:block;
        padding-top: 0;
        height: auto;
    }
    .second-page-box {
        height:100vh;
        width: 100%;
    }
    .row-box {
        height:auto;
        padding:0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: calc(25vh - 37.5px);
    }
    .terapi-img {
        height: 75px;
        width: 75px;
    }
    .row-box:hover {
        -webkit-box-shadow: 0px 14px 92px -18px rgba(0,0,0,0);
        -moz-box-shadow: 0px 14px 92px -18px rgba(0,0,0,0);
        box-shadow: 0px 14px 92px -18px rgba(0,0,0,0);
    }
    .row-box-title {
        display:none;
    }
    .left-side {
        width: 90%;
    }
    .right-side {
        display:none;
    }
    .mobile-contact-info-text {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    
}
#to-top {
    width:80px;
    height:80px;
    position: fixed;
    left:20px;
    top:20px;
    z-index: 999;
    cursor:pointer;
}
.arrow-up {
    font-size: 80px !important;
    color:black;
}
.not-visible {
    display:none;
}
.arrow-up:hover {
    font-size: 100px !important;
}
#to-top:hover {
    left:10px;
    top:10px;
}